<div id="navbar" class="navbar-collapse col-xs-12 col-sm-5 col-md-5 col-lg-5">
	<div class ="col-sm-12">
		<form class="navbar-form navbar-right">
			<div class="form-group">
				<input type="text" placeholder="Email" class = "radius mini left" data-ng-model = "login.model.email" />
			</div>
			<div class="form-group">
				<input type="password" placeholder="Password" class = "radius mini left" data-ng-model = "login.model.loginpwd" />
			</div>
			<button type="submit" class="btn btn-success" data-ng-click = "login.submit(login.model)">
				{{::login.constants.buttons.submit}}
			</button>
		</form>
	</div>
</div>